@model Banktransactions.Models.Transaction
@if (TempData["message"] != null)
{
<script src=" /lib/jquery//dist/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript">
    toastr.error('@TempData["message"]');
</script>
}


<form asp-action="Create">
    <div class="form-group">
        <label>Branch</label>
        <select class="form-control" asp-for="BranchId" asp-items="ViewBag.Branches" required></select>
    </div>
    <div class="form-group">
        <label>Amount</label>
        <input type="number" class="form-control" asp-for="Amount" />
    </div>
    <div class="form-group">
        <label>Transaction Type</label>
        <select class="form-control" asp-for="IsCredit" required>
            <option value="true">Credit</option>
            <option value="false">Debit</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit Transaction</button>
</form>


